# crt-turbo v1 - no curvature, no slot mask, brightness shallowed the pattern.
minarch_screen_scaling = Aspect
minarch_scale_filter = NEAREST

minarch_nrofshaders = 1
minarch_shader1 = crt-turbo-v1.glsl
minarch_shader1_filter = LINEAR
minarch_shader1_srctype = source
minarch_shader1_scaletype = source
minarch_shader1_upscale = screen
